/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  [au_id]
      ,[au_name]
      ,[au_city]
      ,[au_country]
      ,[Qual]
      ,[MaritalStatus]
  FROM [PublishingCompany].[dbo].[Authors]
  
    insert into subjects values(101,'DA',1)
  insert into subjects values(102,'C',2)
  insert into subjects values(103,'C',1)

  select * from  subjects

  delete  from Authors
  where au_id=1
